@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Your SASS Journey Starts Here
body {
    font-family: $helvetica;
    background-color: #ffffff;
    color: #888888;
}
a {
    text-decoration: none;
}
.outer-container {
    @include outer-container(980px);
    position: relative;
}

.top {
    background-color: #F5F5F5;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    a {
        color: black;
        font-size: 1em;
        font-weight: bold;
    }
    a:hover {
        color: #4078C0;
    }
}
.top-left {
    display: inline-block;
    width: 65%;
    line-height: 48px;
    a {
        margin-right: 10px;
    }
}
.top-left .fa-github {
    font-size: 2.4em;
    line-height: 50px;
}
.top-search {
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    font-size: .8em;
    font-weight: 300;
    margin-right: 10px;
    padding: .5em;
    width: 350px;
}
.top-search {
    position: relative;
    top: -7px;
}
.top-right {
    position: absolute;
    right: 0;
    top: 16%;
    width: 30%;
    text-align: right;
    img {
        border-radius: 3px;
        height: 20px;
        position: relative;
        top: 5px;
        width: 20px;
        margin-right: 5px;
    }
    a {
        margin-right: 2%;
    }
}
.top-right .fa-caret-down {
    font-size: .8em;
}
// Sidebar
.user {
    @include span-columns(3);
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding-top: 1em;
    white-space: nowrap;
}
.profile {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 1em;
    img {
        border-radius: 5px;
        width: 100%;
    }
    h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.4em;
        font-weight: bold;
    }
}
.stats {
    border-bottom: 1px solid #DDDDDD;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    padding-bottom: 0.4em;
    h3 {
        margin-bottom: 5px;
    }
}
.followers {
    overflow: auto;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    a {
        float: left;
        margin: 0 10px;
    }
    span {
        display: block;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
    }
}

// Middle Content
.main-content {
    @include span-columns(9);
    @include omega ();
    padding-top: 2em;
}
.middle-top {
    margin-bottom: 1em;
    padding-left: 1em;
    padding-bottom: .7em;
    border-bottom: 1px solid #DDDDDD;
}
.middle-top-tabs {
    display: inline-block;
    width: 70%;
    padding-left: 0;
    a {
        color: #333333;
        padding: .8em;
        font-size: .9em;
    }
}
.middle-top-tabs {
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-bottom: 10px;
    color: black;
}
.middle-top button {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    float: right;
    font-weight: bold;
    padding: 0.3em 0.8em;
    position: relative;
    font-size: 0.8em;
}
.repo-row {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 1em;
}
.repo-search {
    width: 45%;
    display: inline-block;
}
.repo-links {
    width: 55%;
    display: inline-block;
    font-size: 0.9em;
    text-align: right;
    a {
        color: blue;
        margin-right: 6px;
    }
    button {
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        color: #ffffff;
        padding: 0.5em 0.8em;
    }
}
.repo-search {
    border-radius: 3px;
    font-size: 0.8em;
    padding: 0.6em;
    width: 240px;
    button {
        border-radius: 3px;
        border: 1px solid #DDDDDD;
        font-size: 0.8em;
        font-weight: bold;
        padding: 0.6em 1em;
    }
}

#repo {
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    padding: 0.6em 0;
}
.repo-info {
    display: inline-block;
    width: 70%;
    a {
        color: #729BD0;
        margin-bottom: 0;
    }
    h3 {
        margin-bottom: 0;
    }
}
.repo-name {

}
.repo-description {
    color: black;
    font-size: .8em;
}
.repo-updated {
    font-size: .75em;
}
.repo-stats {
    font-size: 0.75em;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 24%;
    p {
        display: inline-block;
    }
}
.repo-forks {
    font-size: .8em;
}










// Footer
.nav-bottom .outer-container {
    border-top: 1px solid #E5E5E5;
    margin-top: 3em;
}
.nav-bottom {
    text-align: center;
    padding-bottom: 2em;
}
.links-right li, .links-left li {
    display: inline-block;
}
.links-left {
    float: left;
    font-size: .8em;
    margin-top: 3em;
    padding: 0;
}
.links-right {
    float: right;
    font-size: .8em;
    margin-top: 3em;
}
.links-left a, .links-right a {
        margin-right: 8px;
        color: #729BD0;
    }


